<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-primary" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:signup' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">
                Add a review about <b>{{ dealer.full_name }}</b>.
            </h1>
        </div>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row mb-3">
                    <div class="form-group col">
                        <label for="content" class="form-label">Review content:</label>
                        <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                    </div>
                </div>
                <div class="form-row mb-3 form-check">
                    <div class="form-group col">
                        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                        <label for="purchasecheck" class="form-check-label">Has purchased the car from {{ dealer.full_name }} ?</label>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col">
                        <label for="car" class="form-label">Select the car model: </label>
                        <select name="car" id="car" class="form-select" required>
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-2">
                        <label for="purchasedate" class="form-label">Purchase date:</label>
                        <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Add review">
            </form>
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
            });
        });
    </script>
</html>